<div class="group relative space-y-10 mt-12 terciary_font p-6 rounded-lg">
  <div class="w-full min-h-80 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
    <%= image_tag('bag_for_woman.png', class: 'w-full h-full object-center object-cover lg:w-full lg:h-full')%>
  </div>
  <div class="mt-4 justify-between">
    <div>
      <h3 class="text-lg text-black-700 font-bold"><%= product.name %></h3>
      <p class="mt-1 text-lg text-blue-900 font-bold"><%= number_to_currency(product.price, precision: 2) %></p>
    </div>
  </div>
  <div class="flex">
    <%= link_to 'See more', product_path(product.id), :class => 'w-full terciary_button text-center hover:bg-grey-900 text-blue-900 text-lg py-4 px-4 
                                                                 font-semibold rounded focus:outline-none focus:shadow-outline' %>
  </div>
</div>
