.success {
  background-color: #f0fff4;
  border-color: #68d391;
  color: #2f855a;
}

.warning {
  background-color: #fffff0;
  border-color: #f6e05e;
  color: #b7791f;
}

.error {
 background-color: #fff5f5;
 border-color: #fc8181;
 color: #c53030;
}
