<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
  <tr class="text-left border-b-2 border-gray-300">
    <th class="px-4 py-3">ID</th>
    <th class="px-4 py-3">NOMBRE</th>
  </tr>
  <% @categories.each do |category| %>
    <tr class="bg-gray-100 border-b border-gray-200">
      <td class="px-4 py-3"><%= category.id%></td>
      <td class="px-4 py-3"><%= category.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Nueva Categoria', new_category_path%>
