<footer class="bg-gray-800 pt-10">
  <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
    <!-- Col-1 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->     
      <div class="text-xs uppercase text-gray-400 font-medium mb-6 flex">
        Local Sales
        <div>
          <%= image_tag('localsales.svg', size: '22x8', class: 'ml-4')%>
        </div> 
      </div> 
    </div>
    <!-- Col-2 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Tienda
      </div>
      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Inicio
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Empresas
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Nuevos
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Destacados
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Ofertas
      </a>
    </div>
    <!-- Col-3 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Información
      </div>
      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Avisos de privacidad
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Términos y condiciones
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Acerca de
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Preguntas frecuentes
      </a>           
    </div>
    <!-- Col-4 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Clientes
      </div>
      <!-- Admin -->
      <a>
        <%= link_to 'Iniciar sesión', new_user_session_path, :class => 'my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700'%>
      </a>
    </div>
  </div>
  <!-- Copyright Bar -->
  <div class="pt-2">
    <div class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 text-sm flex-col md:flex-row max-w-6xl">
      <div class="mt-2">
        © Copyright 2021. All Rights Reserved Brightcoder Academy.
      </div>
    </div>
  </div>
</footer>
